body {
    background-color: black;
    color: white;
}

input {
    background-color: black;
    border-radius: 2rem 2rem 2rem 2rem;
    border: 2px solid white;
    color: white;
}

button {
    background-color: black;
    color: white;
    border-radius: 2rem 2rem 2rem 2rem;
    border: 2px solid white;
}